/* CONFIGURACIONES INICIALES*/
:root{
    --bgn-color : #252b4d;
    --text-color:#f4f9ff;
    --btn-bgn-color:  #252b4d;
    --btn-border-color : #5a5aa0;
    --btn-text-color: #b6bcdc;
    --pan-bgn-color : #2c3554;
    --chat-res-bgn-color : #50c6ee;
    --chat-req-bgn-color : #f6737f;
    --separador : #8442b1;
    --color-h1 : #61b0ac;
    --color-h2 : #443286;
    --mas-prod-bck : #232949;
    --tarj-prod-bck : #2c335c;
    font-family: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
    --bgn-color : #6b7bd3;
    --text-color:#232425;
    --btn-bgn-color:  #6d7ddb;
    --btn-border-color : #313157;
    --btn-text-color: #34363f;
    --pan-bgn-color : #5f70b1;
    }
}

ul{
    list-style: none;
}

body{
    background-color: var(--bgn-color);
    padding: 0px;
    margin: 0px;
}
  

.campo{
    display: inline-block;
    width: fit-content;
    padding: 50px;
    background-color: var(--bgn-color);
}

a{
    text-decoration: none;
    color:  var(--text-color);
}

/* BOTON */

.btn{

    padding: 7px 30px;
    background-color: var(--btn-bgn-color);
    border: 2px solid var(--btn-border-color);
    border-radius: 5px;
    box-shadow: 0px 5px 7px #111322;
    color:var(--btn-text-color);
    margin: 0px 10px;
}

.btn:hover{
    position: relative;
    background-color: #2e3661;
    top: -2px;
}
.btn:active{
    top: 2px;
    background-color: #443286;
    border-color: #8442b1;
}

/* PANEL */

.fa-lightbulb {
    position: relative;
    color: #f29f7f;
    padding: 0px 5px;   
}

.panel{
    background-color: var(--pan-bgn-color);
    box-shadow: 0px 1px 7px  #171a2f;
    border-radius: 10px;
    padding: 20px 30px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel span{
    color: #8f94a9;
    font-family: 'Quicksand', sans-serif
}
.panel>button{
    position: relative;
    background-color:  var(--pan-bgn-color);
    border: 2px solid #f29f7f;
    border-radius: 5px;
    color: var(--text-color);
    margin-left: 30px;
    padding: 7px 20px;
    top: 3px;
}

/* MENU HORIZONTAL */
.menu{
    display: flex;
    justify-content: space-around;
    background-color: var(--bgn-color);
}

.ver{
    display: none;
}

.desplegable{
    display: none;
}

.menu ul{
    display: flex;
    list-style: none;
    color: var(--text-color);
    font-size: 1.2em;
    padding:0px;
}

.hor{
    border: 0px 0px 1px 0px;
    box-shadow: 0px 1px 7px  #171a2f;

}

.hor ul{
    justify-content: center;
}

.hor li{
    padding: 10px;
    margin: auto;
}

.hor .logo{

    margin-right: 200px;
    font-weight: bold;
    border: 3px solid #443286;
    letter-spacing: 3px;

}

.hor .item{
    margin: 20px;
}

/* MENU VERTICAL */

.ver, .ver ul{
    flex-direction: column;
}

.ver ul{
    margin: 40px 20px;
}

.ver li{
    padding: 10px;
    margin: auto;
}

.ver button{
    margin: 0px;
}

/* PAGINADOR */

.pager{
    background-color: var(--bgn-color);
    width: 15%;
}

.pager ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    height: 50px;
    padding: 0px;
}

.pager li{
    list-style: none;
    padding: 10px;
}

.pager .selected{
    background-color:#8442b1;
    padding: 10px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    box-shadow: inset 1px 1px 16px #111322;
}

.pager li:hover{
    background-color:  #8f94a9;
    padding: 10px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* TARJETA */

.link_tarjeta{
    width: 300px;
    height: 470px;
}

.tarjeta{
    width: 300px;
    height: 470px;
    background: rgb(68,81,122);
    background: linear-gradient(180deg, rgba(68,81,122,1) 0%, rgba(34,41,69,1) 43%, rgba(29,33,57,1) 60%, rgba(25,28,49,1) 99%);
    border-radius: 10px;
    
}

.fondo_tarjeta{
    width: inherit;
    border-radius: inherit;
}

.popular{
    width: calc(0.55*100%);
    filter: invert(75%);
    float: right;
    transform: rotate(18deg);
    margin: -100px -10px;
}

.content h1{
    color: #8f94a1;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 3px;
}

.content p{
    color: #c0c6d6;
    text-align: center;
    margin: 25px;
}

.content .buttons{
    text-align: center;
    margin-top: 30px;
}

/* INPUT DE TEXTO */
.search{
    padding: 10px 55px;
    background-color:#b6bcd3;
    background-image: url('img/loupe.svg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size:  8%;
    border: 2px solid #b6bcd3;
    border-radius: 4px;
    font-size: 1.2em;
}
.search:focus, .area_texto:focus{
    border: 2px solid #f29f7f;
}

.area_texto{
    width: auto;
    height: 150px;
    padding: 12px 20px;
    border: 2px solid #b6bcd3;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin: 20px;
}

/* CHAT */

.chat{
    
    width: 300px;
    height: 450px;
    background-color: var(--bgn-color);
    border-radius: 15px 15px 0px 0px;
    padding: 20px;
}



.chat .chat_response, .chat .chat_request{
    width: max-content;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow: 0px 5px 7px #111322;
}
.chat .chat_response{
    background-color: var(--chat-res-bgn-color);
    float: left;
}
.chat .chat_request {
    background-color: var(--chat-req-bgn-color);
    float: right;
}

.mensaje{
    position: relative;
    background-color: var(--bgn-color);
    width: 340px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.mensaje input{
    width: inherit;
    border-radius: 0px 0px 0px 15px;
    padding: 10px 10px;
    border: 2px solid var(--bgn-color);
}

.mensaje button{
    padding: 10px;
    border-radius: 0px 0px 15px 0px;
    border: 2px solid var(--bgn-color);
    border-left: 0px;
    background-color: var(--btn-border-color);
    color: var(--btn-text-color);
}

.mensaje button:hover{
    background-color:  #2e3661;
}

/* Practica parte 2*/

header {
    position: sticky;
}

/*FOOTER*/

footer hr{
    border: 1px solid var(--separador);
    width: 95%;
}

footer .content{
    display: flex;
    justify-content: center;
}

footer ul{
    padding: 0px 5%;
}

footer .subtitle{
    text-transform: uppercase;
    color: var(--btn-border-color);
}
footer li{
    padding: 3px;
    letter-spacing: 2px;
}

/*FRONT*/

.index_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}

.index_content *{
    box-sizing: border-box;
}

.index_content img{
    width: 50%;
    border-radius: 5px;
    filter: saturate(1.5);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    position: relative;
}

.index_content p{
    width: 500px;
    color: var(--text-color);
    font-size: 1.5em;
    letter-spacing: 1px;
}

/* INDEX MOVIL */

@media (max-width: 414px){
   
    .hor{
        display: none;
    }
    .ver{
        display: flex;
        border: 0px 0px 1px 0px;
        box-shadow: 0px 1px 7px  #171a2f;
    }

    

    .ver, .ver ul{
        flex-direction: row;
    }

    .ver .logo{
        margin-right: 200px;
        font-weight: bold;
        border: 3px solid #443286;
        letter-spacing: 3px;
    }

    .desplegable{
        justify-content: center;
        flex-direction: column;
        transition: all 1s;
        border: 0px 1px 1px 0px;
        box-shadow: 0px 1px 7px  #171a2f;
        
        font-size: 1.4em;
        letter-spacing: 2px;
    }

    svg{
        fill: #8442b1;
    }

    .ver li{
        padding: 10px;
        margin: auto;
    }

    .ver button{
        margin: 0px;
    }

    .desplegable ul{
        margin: 20px auto ;
        padding-left: 0px;
        text-align: center; 
    }

    .desplegable .btn{
        margin: 10px;
    }

    .index_content{
        flex-direction: column;
    }

    .content ul{
        flex-grow: 2;
        flex-basis: auto;
    }

    .index_content p{
        width: auto;
        color: var(--text-color);
        font-size: 1.5em;
        letter-spacing: 1px;
    }

    /*FOOTER*/

    footer hr{
        border: 1px solid var(--separador);
        width: 95%;
    }

    footer .content{
        display: block;
        justify-content: center;
    }


}

/* DOCUMENTACION */

.doc_content{
    margin: 100px 0px;
    position: relative;
    left: 10%;
    color: var(--text-color);
}

.doc_content h1, .doc_content h2{
    color: var(--color-h1)
}

.doc_content h1{
    padding-left: 40px;
    font-size: 2.5em;
}

.panel_menu_izq{
    display: flex;
}

.panel_menu_izq>ul{
    padding-right: 10%;
}

.panel_menu_izq>ul li{
    padding: 5px 0px;
    font-size: 1.25em;
    letter-spacing: 1.5px;
}

.panel_menu_izq hr{
    border: 1px solid var(--separador);

}

.doc_content aside{
    font-size: 1.25em;
}

.doc_content aside li{ 
    list-style: circle;
}

.doc_content p{
    width: 800px;
}

/* DOCUMENTACION MOVIL*/

@media (max-width: 414px){
    .panel_menu_izq{
        display: flex;
        flex-direction: column;
    }
    .panel_menu_izq hr{
        border: 1px solid var(--separador);
        
    }
    .doc_content{
        left: 0px;
        
    }

    .doc_content aside{
       margin: 10px;

    }

    .doc_content p{
        box-sizing: border-box;
        width: 400px;
        font-size: 0.8em;
    }
}

/* PRODUCTO */

.product_content .main{
    display: flex;
    margin: 5%;
}

.main img{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);}

.main div{
    padding: 5%;
    color: var(--text-color);
}

.main div h1{
    color: var(--color-h1);

}

.main div p{
    font-size: 1.2em;
    letter-spacing: 1px;
}

.main div button{
    margin: 0px;
    font-size: 1.1em;
}

.mas_productos{
    background-color: var(--mas-prod-bck);
    padding: 3% 15%;
}

.mas_productos h1{
    color: var(--color-h1);
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    margin: 1% 5% 0 5%;
    font-family: 'Varta', sans-serif;
}

.mas_productos hr{
    border: 3px solid var(--separador);
    width: 3%;
    margin-bottom: 3%;
}

.product_sec{
    display: flex;
    flex-wrap: wrap;
}

.product_sec h2{
    color: var(--btn-border-color);
    letter-spacing: 1px;
}

.product_sec section{
    flex-basis: 50%;
    flex-grow: 2;
}

.product_sec p{
    padding: 1% 5%;
    color: var(--text-color);
    font-size: 1.1em;
    letter-spacing: 1px;
}

/* PRODUCTOS MOVIL*/

@media (max-width: 414px){
    .product_content .main{
        display: flex;
        margin: 5%;
        flex-direction: column;
    }
    .main img{
        display: none;
    }

    .product_sec section{
        flex-basis: 100%;
        flex-grow: 4;
    }

}

/* PRECIOS */

.prices_content{
    display: flex;
    justify-content: center;
}

.tarjeta_prod{
    width: 300px;
    margin: 3%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 7px #111322;
    background-color: var(--tarj-prod-bck);
}

.tarjeta_prod img{
    border-radius: 10px 10px 0 0;
}

.tarjeta_prod>.inf{
    background-color: var(--tarj-prod-bck);
    padding: 0px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
    
}

.inf h2{
    margin-top: -3px;
    padding-top: 20px;
    color: var(--color-h1);
    text-align: center;
}

.inf p{
    color: var(--text-color);
    letter-spacing: 1px;
}

.inf button{
    margin: 10px 0 30px 0;
    
}
.inf .precio{
    color: var(--separador);
    font-size: 1.2em;
}

@media (max-width: 414px){
    .prices_content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }
    .tarjeta_prod{
        margin: 20px 0;
    }
}